<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175309752465-40hf6pogiam1kn8g9lkt9hgk8agvsiq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175309752465-40hf6pogiam1kn8g9lkt9hgk8agvsiq8</string>
	<key>API_KEY</key>
	<string>AIzaSyANU8RJl08uxKZkKfbm6SLx9P9FEj40sWs</string>
	<key>GCM_SENDER_ID</key>
	<string>175309752465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jreis.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-45a1f</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-45a1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175309752465:ios:a7123f2a64b4b5a1465730</string>
</dict>
</plist>